<html lang="en">
    <head>
        <title>AndecTestBot</title>
        <style>
            body {
                margin: 0;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ececec;
                font-family: monospace;
            }

            .err-box {
                background: #fff;
                padding: 1em;
                max-width: 30em;
                width: 100vw;
            }
        </style>
    </head>

    <body>
        <div class="err-box">
            <div id="text">
                <div>AndecTestBot</div>
            </div>
        </div>
    </body>
</html>