nav {
    width: calc(100% + 2rem);
    margin: auto;
    background-color: gainsboro;
    height: 64px;
    margin: 0 -1rem;
    margin-bottom: 1rem;
    
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

nav .left {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

nav .right {
    display: flex;
    align-items: center;
}

nav a.logo, nav p.logo {
    font-weight: bolder;
    padding: 1rem;
}

nav img.logo {
    height: 100%;
}

nav a {
    text-decoration: none;
    padding: 1rem;
    background-color: #00000000;
    color: black;
}

nav a:hover {
    text-decoration: none;
    padding: 1rem;
    color: white;
    background-color: #00000065;
}

@media screen and (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    nav .left{
        cursor: pointer;
        /*gap: 1rem;*/
    }

    nav .logo {
    }

    nav a.logo, nav p.logo {
        width: 100%;
        text-align: center;
    }

    nav img.logo {
        float: left;
        height: 64px;
    }

    nav.open {
        /*background-color: #ffffff93;*/
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
    }

    nav.open * {
        /*width: 100%;*/
    }
}